.card {
  background-color: $color-background;
  border: 1px solid $color-border;
  border-radius: $border-radius-lg;
  padding: $spacing-component;
  display: flex;
  flex-direction: row;
  margin-bottom: $spacing-component;

  &__title {
    font-family: $font-family-primary;
    font-size: $font-size-heading;
    font-weight: $font-weight-bold;
    color: $color-text-primary;
    margin-bottom: $spacing-2;
  }

  &__content {
    font-family: $font-family-primary;
    font-size: $font-size-body;
    line-height: $line-height-normal;
    color: $color-text-secondary;
  }

  &__sidebar {
    margin-left: $spacing-4;
    padding-left: $spacing-4;
    border-left: 1px solid $color-border;
    width: 280px;
  }

  dd {
    margin: 0;
    font-weight: $font-weight-bold;
  }

  dl {
    display: flex;
    flex-direction: column;
    gap:  $spacing-4;
  }
}