<article class="card">
    <div class="">
        <h2 class="card__title">{{title}}</h2>
        <p class="card__content">{{summary}}</p>
    </div>
    {{#if metadata}}
        <div class="card__sidebar">
            <dl>
                {{#each metadata}}
                    <div>
                        <dt>{{label}}</dt>
                        <dd>{{text}}</dd>
                    </div>
                {{/each}}
            </dl>
        </div>
    {{/if}}
</article>