<div class="mt-5 p-5 flex shadow-lg shadow-inner">
    <div class="flex-1">
        <h2 class="">{{title}}</h2>
        <p class="">{{summary}}</p>
    </div>
    <div class="w-40">
        {{> list/list}}
    </div>
</div>