<footer class="footer">
    <div class="container footer__content">
        <ul>
            {{#each links}}
                <a class="footer__links" href="{{url}}">{{label}}</a>
            {{/each}}
        </ul>
    </div>
</footer>